
.container {
  max-width: 960px;
  
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; 



}

.row {
margin-top: 40px;

}


.jumbotron-heading{

    color:black;

}


.panier{

    background-color: rgba( 64, 130, 209, 0.9);
    
    width: 700px;

    margin-left:340px;
    
    position: absolute;
    
    height: 35px;
    
    text-align: center;
    
    vertical-align: middle;

    flex: 1.2;
    
    padding: 0px;
    
    color: white;
    
    font-size: 1.3em;
    
    margin-top: 405px;

    border-radius: 25px;

}

.achat{

    background-color: rgba( 64, 130, 209, 0.9);
    
    width: 400px;

    margin-left:490px;
    
    position: absolute;
    
    height: 35px;
    
    text-align: center;
    
    vertical-align: middle;

    flex: 1.2;
    
    padding: 0px;
    
    color: white;
    
    font-size: 1.3em;
    
    margin-top: 455px;

    border-radius: 25px;

}

.prix {
     width: 40px;
     margin-left:30px;
     font-size: 1.3em;
     margin-top: 370px;

    }

.Prix {
    width: 120px;
    margin-left:520px;
    font-size: 1.3em;
    margin-top: 370px;
    
    }
/* FOOTER CSS */


footer {
    background-color: #4A4A4A;
    color: #FFF;
    font-size: 14px;
    text-align:center;
}

footer a, footer a:hover {
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

footer .menu h1 {
    padding-top: 30px;
    padding-bottom: 10px;
    margin: 0;
    font-size: 18px;
    border-bottom: 2px solid #aaa;
}

footer .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
}

footer nav {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer nav ul {
    list-style-type: none;
}

footer nav li {
    display: inline-block;
}

footer nav a {
    color: #CDCDCD;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    border-bottom: 3px solid transparent;
    transition: border-bottom-color 0.5s;
}

footer nav a:hover {
    border-bottom-color: #fff;
    text-decoration: none;
}

.panier {
    
    float:right;

}

.banner {
    background: #fff url(nice_books.jpg) center center;
}

.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6 {
    text-align: center;
    padding: 100px 10px; /* ecart entre la nav et l'image du haut */
    margin: 0;
    font-size: 50px;
    color: #fff;

}


header {
    height: 70px;
    padding-top: 10px;
}


.Menu{
    margin-left: 230px;
    margin-right: 255px;
}




header nav {
    float: right;
    height: 70px;  /* taille en hauteur de la barre de navigation  */
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 17px;
    /* sous menu */
}

.marketing {
    margin-top: 50px;
    margin-left: 250px;
    text-align:center;
    margin-bottom:50px;

}











