
.compte {
	padding-left:520px;

}

.Compte {
	padding-bottom:20px;
	padding-left:324px;
	padding-left:520px;
}

#contenu {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    flex: 1;
}




